# Polymorphism

# Len function Polymorphism

In [1]:
name = 'Tukaram'
len(name)

7

In [2]:
a = ['a',12.3,'Example',True,False,'b',25,34.5,46.7]
len(a)

9

In [3]:
dct = {'id':101,
       'fname':'Utkarsh',
       'lname':'Gaikwad',
       'Dept':'Engg.',
       'Sal':10000}
len(dct)

5

In [4]:
import pandas as pd
A = pd.read_csv("C:/Users/Administrator/Downloads/50_Startups (1).csv")
A.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [5]:
A.shape

(50, 5)

In [6]:
len(A)

50

In [7]:
type(name)

str

In [8]:
type(a)

list

In [9]:
type(dct)

dict

In [10]:
type(A)

pandas.core.frame.DataFrame

# Polymorphism in Operators

In [11]:
3+7

10

In [12]:
4.5 + 7.9

12.4

In [13]:
'ETL'+'hive'

'ETLhive'

In [14]:
[1,2,3] + [4,5]

[1, 2, 3, 4, 5]

# Polymorphism in Classes

In [15]:
class India:
    
    def capital(self):
        print('Capital of India is Delhi')
    
    def language(self):
        print('Hindi is most widely spoken language in India')

In [16]:
class USA:
    
    def capital(self):
        print('Capital of USA is Washington D.C.')
        
    def language(self):
        print('English is most widely spoken language in USA')

In [17]:
i = India()
u = USA()

In [18]:
i.capital()

Capital of India is Delhi

In [19]:
i.language()

Hindi is most widely spoken language in India

In [20]:
u.capital()

Capital of USA is Washington D.C.

In [21]:
u.language()

English is most widely spoken language in USA

In [22]:
for country in [i,u]:
    country.capital()
    country.language()
    print('\n=============================================\n')

Capital of India is Delhi
Hindi is most widely spoken language in India

=============================================

Capital of USA is Washington D.C.
English is most widely spoken language in USA

=============================================

In [23]:
type(i)

__main__.India

In [24]:
type(u)

__main__.USA

# Different shapes polymorphism

In [25]:
class rectangle:
    
    def __init__(self,l,w):
        self.l = l
        self.w = w
        
    def area(self):
        ar = self.l*self.w   
        return ar

In [26]:
class square:
    
    def __init__(self, side):
        self.side = side
    
    def area(self):
        ar = self.side**2
        return ar

In [27]:
class circle:
    
    def __init__(self,radius):
        self.radius = radius
        
    def area(self):
        from math import pi
        ar = pi*(self.radius**2)
        return ar

In [28]:
from math import pi
pi

3.141592653589793

In [29]:
r = rectangle(10,6)
s = square(5)
c = circle(7)

In [30]:
shapes = [r, s, c]

In [31]:
for i in shapes:
    print(type(i))
    print(f'Area: {i.area()}')
    print('\n=========================================\n')

<class '__main__.rectangle'>
Area: 60

=========================================

<class '__main__.square'>
Area: 25

=========================================

<class '__main__.circle'>
Area: 153.93804002589985

=========================================